<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Foundation for Agrarian Studies</a>
        </div>

        <form class="navbar-form navbar-right" action="search/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Village Name" id="Village_name" name="Village_name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Household Number" id="Household_number" name="Household_number">
            </div>
            <button type="submit" class="btn btn-default">Search now</button>
            <button type="submit" class="btn btn-default"><a href={% url "logout" %}>logout</a></button>
        </form>
    </div>
</nav>
