<ul class="nav nav-tabs">
    <li {% if 'household/' in request.get_full_path %} class="active"{% endif %}><a href={% url 'household_init' %}>Home</a></li>
    <li {% if 'introduction' in request.get_full_path %} class="active" {% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'introduction_init' %}>1.INTRODUCTION</a>
    </li>
    <li {% if 'householdmembers' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'householdmembers_init' %}>2.HOUSEHOLD MEMBERS: GENERAL INFORMATION</a>
    </li>
    <li {% if 'ownership/' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'ownership_init' %}>3.CURRENT OWNERSHIP HOLDING</a>
    </li>
    <li {% if 'landsales' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'landsales_init' %}>4.SALE AND PURCHASE OF AGRICULTURAL LAND</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">5.LAND HOLDING: LEASED AND MORTGAGED</a>
    </li>
    <li {% if 'ownership' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'ownershipwells_init' %}>Section 9</a>
    </li>
</ul>

<script>
    $(document).ready(function() {
        $(".nav li.disabled a").click(function() {
            return false;
        });
    });
</script>