<ul class="nav nav-tabs">
    <li {% if 'household/' in request.get_full_path %} class="active"{% endif %}><a href={% url 'household_init' %}>Home</a></li>
    <li {% if 'page1/' in request.get_full_path %} class="active" {% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page1_init' %}>1</a>
    </li>
    <li {% if 'page2/' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page2_init' %}>2</a>
    </li>
    <li {% if 'page3' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page3_init' %}>3</a>
    </li>
    <li {% if 'page4' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page4_init' %}>4</a>
    </li>
    <li {% if 'page5' in request.get_full_path %} class="active" {% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page5_init' %}>5</a>
    </li>
    <li {% if 'page6' in request.get_full_path %} class="active" {% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page6_init' %}>6</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">7</a>
    </li>
    <li {% if 'page8' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page8_init' %}>8</a>
    </li>
    <li {% if 'page9' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page9_init' %}>9</a>
    </li>
    <li {% if 'othercosts' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'othercosts_init' %}>10</a>
    </li>
    <li {% if 'page11' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page11_init' %}>11</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">12</a>
    </li>
    <li {% if 'page13' in request.get_full_path %} class="active" {% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page_13_init' %}>13</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">14</a>
    </li>
    <li {% if 'page15' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page15_init' %}>15</a>
    </li>
     <li {% if 'page16' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page16_init' %}>16</a>
    </li>
     <li {% if 'page17' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page17_init' %}>17</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">18</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">19</a>
    </li>
    <li
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href="#">20</a>
    </li>
    <li
            {% if 'page21' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page21_init' %}>21</a>
    </li>
    <li
            {% if 'page22' in request.get_full_path %} class="active"{% endif %}
            {% if request.session.household == None %} class="disabled" {% endif %}>
            <a href={% url 'page22_init' %}>22</a>
    </li>
</ul>

<script>
    $(document).ready(function() {
    formmodified=0;

    $(".nav li.disabled a").click(function() {
        return false;
    });

    $('form *').change(function(){
        formmodified=1;
    });

    $("button[type='submit']").click(function() {
        formmodified = 0;
    });

    window.onbeforeunload = confirmExit;
    function confirmExit() {
        if (formmodified == 1) {
            return "Do you wish to leave un saved changes?";
        }
    }
});

</script>
