.row {
    padding: 0px 15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0px;
}
input, select {
    width: 100%;
    color: #0000FF;
}
.table-cell {
    border: 1px solid #CCC;
    padding: 0px;
}
.table-cell label {
    font-weight: normal;
    padding-left: 5px;
}
.table-cell.text-center label {
    font-weight: normal;
    padding-left: 0px;
}
.table-cell input {
    border: 2px solid transparent;
    padding: .5px;
}
.btn-submit {
    margin: 10px;
}
.flex-row {
    display:flex;
    align-items: stretch;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.delete-row {
    background: url('../images/delete.png') no-repeat 5px center;
    width: 25px;
    height: 25px;
}

.table-head > .delete-row {
    visibility: hidden;
}
label { color: #666; }
span.required { color: red; }
