.row {
    padding: 0px 15px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0px;
}
input, select {
    width: 100%;
    color: #337ab7;
    padding: 5px;
}
.table-cell select {
    height: 31px;
    border-width: 0px;
}
.row1 {
  padding-top: 50px;
}
.login-button {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}
table{
    border-collapse: inherit;
}
td a{
    display: block;
}

.table-cell {
    border: 1px solid #CCC;
    padding: 0px;
}
.table-cell label {
    font-weight: normal;
}
.table-cell.text-center label {
    font-weight: normal;
    padding-left: 0px;
}
.table-cell input {
    border: 2px solid transparent;
    padding: 3.5px;
}
.btn-submit {
    margin: 10px;
}
.flex-row {
    display: flex;
    align-items: stretch;
    text-align: center;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
}

.flex-row-wrap-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    flex: 1 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 0 auto;
}

.delete-row, .cross-width {
    background: url('../images/delete.png') no-repeat 5px center;
    width: 25px;
    height: 25px;
    flex: 1 0 auto;
}

.cross-width {
    visibility: hidden;
}

.sub-menu a {
  padding:10px;
  background-color:#337ab7;
  color: white;
  border-radius: 3px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #337ab7;
  margin: 0px 5px;
}
.text-center {
  color:#337ab7;
  padding: 10px;
}
#search-button {
  background-color: #337ab7;
  color: white;
}
#logout-button {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
}
#logout-button a{
  color: #58595b;
  font-weight: 600;
  padding: 2px;
  background-color: #f8f8f8;
}
a {
  background-color: #337ab7;
  color: white;
  border-radius: 3px;
  align-self: flex-start;
}
a.add-row {
  padding: 5px;
  margin-top: 10px;
  float: left;
  color: #FFF;
}
.logout-link {
    background: transparent;
    color: #58595b !important;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
}
.dynamic-form-add a {
  display: inline-block;
}
.navbar-header .navbar-brand {
   background-color: #f8f8f8;
}
.logout-icon {
  width: 20px;
  height: 22px;
  margin-right: 3px;
}
.search-icon {
  float: right;
  padding: 3px;
  padding-left: 5px;
}
label { color: #666; }
span.required { color: red; }

div.comments textarea {
    width: 100%;
}
.search-village #id_village {
    height: 34px;
    width: 172px;
    border-width: 1px;
}
.readonly-form .add-row, .readonly-form .delete-row, .readonly-form .cross-width {
    display: none;
}
.justify-content-start {
    justify-content: flex-start;
}