{% load static %}
{% load app_filters %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        {% block head %}
        {% endblock %}
        <script>
            function submitHouseholdConfirm(event){
                {% if request.user|has_group:'Admin' or request.user|has_group:'Incharge' %}
                if(!window.confirm("Do you really want to submit Household data."))
                {% else %}
                if(!window.confirm("Do you really want to submit Household data.\n You will not be able to edit the form once you submit."))
                {% endif %}
                    event.preventDefault();
            }

            function doNothing(event){
                event.preventDefault();
            }
        </script>
    </head>
    <body>

        <!-- Header -->
        <header>
            {% include 'common/header.html' %}
        </header>
        <div class='container-fluid'>

            <div class="header-links row">
                {% if request.user|has_group:'Admin' or request.user|has_group:'Incharge' or request.user|has_group:'DataEntry' %}
                    <div class='sub-menu'>
                        <a href={% url "household_new" %}>Enter New Household</a>
                    </div>
                {% endif %}
                {% if request.user|has_group:'Admin' or request.user|has_group:'Incharge' or request.user|has_group:'DataEntry' and not request.session.household|is_submitted %}
                    {% if request.session.household is not None %}
                        <div class='sub-menu'>
                            <a href={% url 'household_submit' %} onclick="submitHouseholdConfirm(event)">Submit Household</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <br/>
            <!-- Top Nav -->
            {% include 'common/topnav.html' %}
            <main>

                    {% if request.session.search_err_msg %}
                        <div class="alert alert-warning">
                            <strong>{{ request.session.search_err_msg|escape }}</strong>
                        </div>
                    {% endif %}
                    <!--  <h4 class='text-center'>FOUNDATION FOR AGRARIAN STUDIES<br>QUESTIONNAIRE FOR CENSUS OF HOUSEHOLDS, 2016</h4> -->
                    {% if request.user|has_group:'Admin' or request.user|has_group:'Incharge' or request.user|has_group:'DataEntry' and request.session.household is None or request.user|has_group:'DataEntry' and not request.session.household|is_submitted %}
                    <form method="POST">
                    {% else %}
                    <form method="POST" class="readonly-form">
                    {% endif %}
                        {% block content %}
                        {% endblock %}

                        {% include 'common/comments.html' %}

                        <div class='row text-center'>
                            {% if request.user|has_group:'Admin' or request.user|has_group:'Incharge' or request.user|has_group:'DataEntry' and request.session.household is None or request.user|has_group:'DataEntry' and not request.session.household|is_submitted %}
                                <button class='btn btn-primary btn-submit' type="submit">Save</button>
                            {% elif request.user|has_group:'DataEntry' %}
                                <button class='btn btn-primary btn-submit disabled' onclick="doNothing(event)">Save</button>
                            {% endif %}
                        </div>
                    </form>

            </main>



            <footer>
    {#            {% include 'common/footer.html' %}#}
            </footer>
        </div>
        <script>
            $('form.readonly-form input, form.readonly-form select, form.readonly-form textarea').attr('disabled', 'disabled');
        </script>

    </body>
</html>
