{% extends "container.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/household-members.css' %}"/>
<script src="{% static 'js/household-members.js' %}"></script>
<script src="{% static 'js/form-utils.js' %}"></script>
{% endblock %}

{% block content %}
<form id="hhm-rows" method="POST">
  <div class="flex-container">
    <div class="flex-item hhm-name" >
      <label>Name</label>
    </div>
    <div class="flex-item hhm-sex" >
      <label>Sex</label>
    </div>
    <div class="flex-item" >
      <label>Age</label>
    </div>
    <div class="flex-item" >
      <label>D/M/Y</label>
    </div>
    <div class="flex-item" >
      <label>Relationship to head of household</label>
    </div>
    <div class="flex-item" >
      <label>Marital Status</label>
    </div>
    <div class="flex-item hhm-occupations">
      <label>Occupations<br />
        (list primary, secondary and other occupations)</label>
    </div>
    <div class="flex-item" >
      <label>Place of work</label>
    </div>
    <div class="flex-item" >
      <label>Literacy Status</label>
    </div>
    <div class="flex-item" >
      <label>Educational Level</label>
    </div>
    <div class="flex-item hhm-add-of-institution">
      <label>If enrolled, give name and location of institution</label>
    </div>
  </div>

  {% csrf_token %}
  {{ formset.management_form }}
    {% for form in formset.forms %}
    <div class="flex-container">
        <div class="flex-item hhm-name" >
            {{ form.name }}
        </div>
        <div class="flex-item hhm-sex" >
          {{ form.sex }}
        </div>
        <div class="flex-item" >
          {{ form.age }}
        </div>
        <div class="flex-item" >
          {{ form.age_unit }}
        </div>
        <div class="flex-item" >
          {{ form.relationship }}
        </div>
        <div class="flex-item" >
          {{ form.marital_status }}
        </div>
        <div class="flex-item hhm-occupations">
          {{ form.occupation }}
        </div>
        <div class="flex-item" >
          {{ form.place_of_work }}
        </div>
        <div class="flex-item" >
          {{ form.literacy_status }}
        </div>
        <div class="flex-item" >
          {{ form.education_level }}
        </div>
        <div class="flex-item hhm-add-of-institution">
          {{ form.name_location_of_institution }}
        </div>
  </div>
    {% endfor %}

    <input type="submit" value="Save" />
</form>
</div>

{#<button onclick="addHouseholdMembersRow()">Add Row</button>#}
{% endblock %}
