<br>
<div class='row'>
    <div class='col-md-5'>
        <div class='col-md-2 table-cell'>
            <label>Village</label>
        </div>
        <div class='col-md-10 table-cell'>
            <input type='text' name='village' id='village' required/>
        </div>
    </div>
    <div class='col-md-offset-2 col-md-5'>
        <div class='col-md-4 table-cell'>
            <label>Household number</label>
        </div>
        <div class='col-md-8 table-cell'>
            <input type='text' name='household_number' id='household_number' required/>
        </div>
    </div>
</div>