{% extends "container.html" %}

{% block content %}
<a href={% url "household_new" %}>Enter new details</a>
<br/>
<br/>
<br/>

{% if household_form.errors %}
{% for field in household_form %}
    {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}
{% for error in household_form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endif %}

{% if messages %}
{% for message in messages %}
    <div class="alert alert-success">
        <strong>{{ message }}</strong>
    </div>
{% endfor %}
{% endif %}

<form method='POST' id="form_household">
{% csrf_token %}
{#    {{ household_form.id }}#}
    <div class='row'>
        <div class='col-md-5'>
            <div class='col-md-2 table-cell'>
                {{ household_form.village.label_tag }}
            </div>
            <div class='col-md-10 table-cell'>
                {{ household_form.village }}
            </div>
        </div>
        <div class='col-md-offset-2 col-md-5'>
            <div class='col-md-4 table-cell'>
                {{ household_form.household_number.label_tag }}
            </div>
            <div class='col-md-8 table-cell'>
                {{ household_form.household_number }}
            </div>
        </div>
    </div>
    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>
</form>
{% endblock %}
