{% extends "container.html" %}
{% load static %}

{% block content %}
<form method='POST' id="form_introduction">
    {% csrf_token %}
    {{ introduction_form.household.as_hidden }}
    <h5 class='text-center'>1.INTRODUCTION</h5>
    <div class='row'>
        <div class='col-md-5'>
            <div class='col-md-5 table-cell'>
                <label>Name of head of household</label>
            </div>
            <div class='col-md-7 table-cell'>
                {{ introduction_form.household_head_name }}
            </div>
        </div>
        <div class='col-md-1'>
            <div class='col-md-4 table-cell'>
                <label>Sex</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.sex }}
            </div>
        </div>
        <div class='col-md-2'>
            <div class='col-md-6 table-cell'>
                <label>Age (in years)</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.age }}
            </div>
        </div>
        <div class='col-md-2'>
            <div class='col-md-6 table-cell'>
                <label>Caste/Tribe</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.caste_tribe }}
            </div>
        </div>
        <div class='col-md-2'>
            <div class='col-md-4 table-cell'>
                <label>Religion</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.religion }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-5'>
            <div class='col-md-5 table-cell'>
                <label>Village and tehsil of birth </label>
            </div>
            <div class='col-md-7 table-cell'>
                {{ introduction_form.birth_village_tehsil }}
            </div>
        </div>
        <div class='col-md-2'>
            <div class='col-md-8 table-cell'>
                <label>Year of migration</label>
            </div>
            <div class='col-md-4 table-cell'>
                {{ introduction_form.year_of_migration }}
            </div>
        </div>
        <div class='col-md-2'>
            <div class='col-md-6 table-cell'>
                <label>Father's name</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.father_name }}
            </div>
        </div>
        <div class='col-md-3'>
            <div class='col-md-6 table-cell'>
                <label>Father's occupation</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.father_occupation }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-7'>
            <div class='col-md-2 table-cell'>
                <label>Address</label>
            </div>
            <div class='col-md-10 table-cell'>
                {{ introduction_form.address }}
            </div>
        </div>
        <div class='col-md-5'>
            <div class='col-md-4 table-cell'>
                <label>Telephone no., if any</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.telephone_no }}
            </div>
        </div>
    </div>
    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>
</form>
{% endblock %}
