<br>
{% csrf_token %}
<input type='number' name='id' id='id' value="{{ landsold_form.id }}" class="hide"/>
<h5 class='text-center'>4. SALE AND PURCHASE OF AGRICULTURAL LAND</h5><br><br><br>
<b>4.1 Land sold</b><br>
<div class='row'>
    <div class='col-md-1 table-cell'>
        {{ landsold_form.year_of_sale.label_tag }}
    </div>
    <div class='col-md-1 table-cell'>
        {{ landsold_form.extent.label_tag }}
    </div>

    <div class='col-md-1 table-cell'>
        {{ landsold_form.type_of_land.label_tag }}
    </div>

    <div class='col-md-4 table-cell'>
        <div class='col-md-12 table-cell'>
            <p class='text-center'>Seller</p>
        </div>
        <div class='row'>
            <div class='col-md-4 table-cell'>
                {{ buyer_form.name.label_tag }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ buyer_form.caste.label_tag }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ buyer_form.occupations.label_tag }}
            </div>
        </div>
    </div>

    <div class='col-md-2 table-cell'>
        {{ landsold_form.price_of_land.label_tag }}
    </div>

    <div class='col-md-3 table-cell'>
        {{ landsold_form.reasons_for_sale.label_tag }}
    </div>
</div>


<div class='row'>
    <div class='col-md-1 table-cell'>
        {{ landsold_form.year_of_sale }}
    </div>
    <div class='col-md-1 table-cell'>
        {{ landsold_form.extent }}
    </div>

    <div class='col-md-1 table-cell'>
        {{ landsold_form.type_of_land }}
    </div>

    <div class='col-md-4 table-cell'>
        <div class='row'>
            <div class='col-md-4 table-cell'>
                {{ buyer_form.name }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ buyer_form.caste }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ buyer_form.occupations }}
            </div>
        </div>
    </div>

    <div class='col-md-2 table-cell'>
        {{ landsold_form.price_of_land }}
    </div>

    <div class='col-md-3 table-cell'>
        {{ landsold_form.reasons_for_sale }}
    </div>
</div>