{% extends "container.html" %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
    {% ifequal message.message 'Data saved successfully' %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endifequal %}
{% endfor %}
{% endif %}
<form method='POST'>
{% csrf_token %}
    <input type='number' name='id' value="{{ landsold_form.id }}" class="hide"/>
    <h5 class='text-center'>4. SALE AND PURCHASE OF AGRICULTURAL LAND</h5><br><br><br>
    <b>4.1 Land sold</b><br>
    <div class='row flex-row'>
        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.year_of_sale.label_tag }}
        </div>
        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.extent_of_land_sold.label_tag }}
        </div>

        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.type_of_land_sold.label_tag }}
        </div>

        <div class='col-md-5'>
            <div class='col-md-12 table-cell'>
                <p class='text-center'>Buyer</p>
            </div>
            <div class='row'>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.name_of_buyer.label_tag }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.caste_of_buyer.label_tag }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.occupation_of_buyer.label_tag }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.place_of_residence_of_buyer.label_tag }}
                </div>
            </div>
        </div>

        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.price_of_land_sold.label_tag }}
        </div>

        <div class='col-md-3 table-cell flex-column'>
            {{ landsold_form.reasons_for_sale.label_tag }}
        </div>
    </div>


    <div class='row flex-row'>
        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.year_of_sale }}
        </div>
        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.extent_of_land_sold }}
        </div>

        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.type_of_land_sold }}
        </div>

        <div class='col-md-5'>
            <div class='row'>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.name_of_buyer }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.caste_of_buyer }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.occupation_of_buyer }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landsold_form.place_of_residence_of_buyer }}
                </div>
            </div>
        </div>

        <div class='col-md-1 table-cell flex-column'>
            {{ landsold_form.price_of_land_sold }}
        </div>

        <div class='col-md-3 table-cell'>
            {{ landsold_form.reasons_for_sale }}
        </div>
    </div>
    <br>
    <br>
<input type='number' name='id' value="{{ landpurchased_form.id }}" class="hide"/>
<b>4.2 Land bought</b><br>
    <div class='row flex-row'>
        <div class='col-md-1 table-cell flex-column'>
            {{ landpurchased_form.year_of_purchase.label_tag }}
        </div>
        <div class='col-md-1 table-cell flex-column'>
            {{ landpurchased_form.extent_of_land_bought.label_tag }}
        </div>

        <div class='col-md-1 table-cell flex-column'>
            {{ landpurchased_form.type_of_land_purchased.label_tag }}
        </div>

        <div class='col-md-5'>
            <div class='col-md-12 table-cell'>
                <p class='text-center'>Seller</p>
            </div>
            <div class='row'>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.name_of_seller.label_tag }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.caste_of_seller.label_tag }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.occupation_of_seller.label_tag }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.place_of_residence_of_seller.label_tag }}
                </div>
            </div>
        </div>

        <div class='col-md-1 table-cell flex-column'>
            {{ landpurchased_form.price_of_land_purchased.label_tag }}
        </div>

        <div class='col-md-3 table-cell flex-column'>
            {{ landpurchased_form.comments.label_tag }}
        </div>
    </div>


    <div class='row flex-row'>
        <div class='col-md-1 table-cell'>
            {{ landpurchased_form.year_of_purchase }}
        </div>
        <div class='col-md-1 table-cell'>
            {{ landpurchased_form.extent_of_land_bought }}
        </div>

        <div class='col-md-1 table-cell'>
            {{ landpurchased_form.type_of_land_purchased }}
        </div>

        <div class='col-md-5'>
            <div class='row'>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.name_of_seller }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.caste_of_seller }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.occupation_of_seller }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ landpurchased_form.place_of_residence_of_seller }}
                </div>
            </div>
        </div>

        <div class='col-md-1 table-cell'>
            {{ landpurchased_form.price_of_land_purchased }}
        </div>

        <div class='col-md-3 table-cell'>
            {{ landpurchased_form.comments }}
        </div>
    </div>
    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>
</form>
{% endblock %}
