<br>
{% csrf_token %}
<input type='number' name='id' id='id' value="{{ landBoughtObj.id }}" class="hide"/>
<b>4.2 Land bought</b><br>
<div class='row'>
    <div class='col-md-1 table-cell'>
        {{ landbought_form.year_of_purchase.label_tag }}
    </div>
    <div class='col-md-1 table-cell'>
        {{ landbought_form.extent.label_tag }}
    </div>

    <div class='col-md-1 table-cell'>
        {{ landbought_form.type_of_land.label_tag }}
    </div>

    <div class='col-md-4 table-cell'>
        <div class='col-md-12 table-cell'>
            <p class='text-center'>Seller</p>
        </div>
        <div class='row'>
            <div class='col-md-4 table-cell'>
                {{ seller_form.name.label_tag }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ seller_form.caste.label_tag }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ seller_form.occupations.label_tag }}
            </div>
        </div>
    </div>

    <div class='col-md-2 table-cell'>
        {{ landbought_form.price_of_land.label_tag }}
    </div>

    <div class='col-md-3 table-cell'>
        {{ landbought_form.comments.label_tag }}
    </div>
</div>


<div class='row'>
    <div class='col-md-1 table-cell'>
        {{ landbought_form.year_of_purchase }}
    </div>
    <div class='col-md-1 table-cell'>
        {{ landbought_form.extent }}
    </div>

    <div class='col-md-1 table-cell'>
        {{ landbought_form.type_of_land }}
    </div>

    <div class='col-md-4 table-cell'>
        <div class='row'>
            <div class='col-md-4 table-cell'>
                {{ seller_form.name }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ seller_form.caste }}
            </div>
            <div class='col-md-4 table-cell'>
                {{ seller_form.occupations }}
            </div>
        </div>
    </div>

    <div class='col-md-2 table-cell'>
        {{ landbought_form.price_of_land }}
    </div>

    <div class='col-md-3 table-cell'>
        {{ landbought_form.comments }}
    </div>
</div>