{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% ifequal message.message 'Data saved successfully' %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endifequal %}
{% endfor %}
{% endif %}
<form method='POST' id="section_3_form">
    {% csrf_token %}

    <div class = 'row'>
        <div class='col-md-8 flex-column'>
            <div class='row flex-row'>
                <div class='col-md-12 flex-column'>
                    <h5 class='text-center'>3. CURRENT OWNERSHIP HOLDING</h5>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Land Type</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Ownership plot no</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Extent of owned land (specify units)</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Mode of acquisition</label>
                </div>
                <div class='col-md-4'>
                    <div class='row flex-row'>
                        <div class='col-md-12 table-cell flex-column'>
                            <label>Irrigation</label>
                        </div>
                    </div>
                    <div class= 'row flex-row'>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Source</label>
                        </div>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Flow/lift</label>
                        </div>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Ownership</label>
                        </div>
                    </div>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Value</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Comments</label>
                </div>
            </div>

            {{ current_ownership_formset.management_form }}
            {% for current_ownership_form in current_ownership_formset.forms %}
            <div class='row current_ownership_formset_row flex-row'>
                <div class='col-md-2 table-cell'>
                    {{ current_ownership_form.land_type }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.ownership_plot_no }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.extent_owned_land }}
                </div>
                <div class='col-md-2 table-cell'>
                    {{ current_ownership_form.acquisition_mode }}
                </div>
                <div class="col-md-4">
                    <div class='col-md-4 table-cell'>
                        {{ current_ownership_form.irrigation_source }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ current_ownership_form.irrigation_flow }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ current_ownership_form.irrigation_ownership }}
                    </div>
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.value }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.comments }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class='col-md-offset-1 col-md-3 flex-column'>
            <div class='row flex-row'>
                <div class='col-md-12 flex-column'>
                    <h5 class='text-center'>Table 3.1. Homestead area</h5>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-9 flex-column table-cell'>
                    <label>Components</label>
                </div>
                <div class='col-md-3 flex-column table-cell'>
                    <label>Area</label>
                </div>
            </div>

            {{ homesteadformset.management_form }}
            {% for homesteadform in homesteadformset.forms %}
            <div class='row homestead_formset_row flex-row'>
                <div class='col-md-9 flex-column table-cell'>
                    {{ homesteadform.components }}
                </div>
                <div class='col-md-3 flex-column table-cell'>
                    {{ homesteadform.area }}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>
</form>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.current_ownership_formset_row').formset({
        prefix: '{{ current_ownership_formset.prefix }}',
        formCssClass: 'current_ownership_formset_row'
    });
    $('.homestead_formset_row').formset({
        prefix: '{{ homesteadformset.prefix }}',
        formCssClass: 'homestead_formset_row'
    });
</script>
{% endblock %}
