{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% ifequal message.message 'Data saved successfully' %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endifequal %}
{% endfor %}
{% endif %}
<form method='POST' id="section_3_form">
    {% csrf_token %}

    <div class = 'row'>
        <div class='col-md-8 flex-column'>
            <div class='row flex-row'>
                <div class='col-md-12 flex-column'>
                    <h5 class='text-center'>3. CURRENT OWNERSHIP HOLDING</h5>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Land Type</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Extent of land</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>acquisition</label>
                </div>
                <div class='col-md-6'>
                    <div class='row'>
                        <div class='col-md-12 table-cell'>
                            <label>Irrigation</label>
                        </div>
                    </div>
                    <div class= 'row'>
                        <div class='col-md-4 table-cell'>
                            <label>Source (code)</label>
                        </div>
                        <div class='col-md-4 table-cell'>
                            <label>Flow/lift (code)</label>
                        </div>
                        <div class='col-md-4 table-cell'>
                            <label>Ownership</label>
                        </div>
                    </div>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Value</label>
                </div>
            </div>

            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset.forms %}
            <div class='row formset_row flex-row'>
                <div class='col-md-2 table-cell'>
                    {{ form.land_type }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ form.extent_owned_land }}
                </div>
                <div class='col-md-2 table-cell'>
                    {{ form.acquisition_mode }}
                </div>
                <div class="col-md-6">
                    <div class='col-md-4 table-cell'>
                        {{ form.irrigation_source }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ form.irrigation_flow }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ form.irrigation_ownership }}
                    </div>
                </div>
                <div class='col-md-1 table-cell'>
                    {{ form.value }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class='col-md-offset-1 col-md-3 flex-column'>
            <div class='row flex-row'>
                <div class='col-md-12 flex-column'>
                    <h5 class='text-center'>Table 3.1. Homestead area</h5>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-9 flex-column table-cell'>
                    <label>Components</label>
                </div>
                <div class='col-md-3 flex-column table-cell'>
                    <label>Area</label>
                </div>
            </div>

            {% csrf_token %}
            {{ homesteadformset.management_form }}
            {% for form in homesteadformset.forms %}
            <div class='row homestead_formset_row flex-row'>
                <div class='col-md-9 flex-column table-cell'>
                    {{ form.components }}
                </div>
                <div class='col-md-3 flex-column table-cell'>
                    {{ form.area }}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>
</form>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset();
    $('.homestead_formset_row').formset();
</script>
{% endblock %}
