{% extends "container.html" %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}


    {% csrf_token %}
    <h4 class='text-center'>19B. INCOME FROM SALARIES, RENTS, REMITTANCES, PENSIONS, SCHOLARSHIPS AND ANY OTHER ACTIVITIES</h4>
    <div class='row'>
        <div class='col-md-2 table-cell flex-row'>
            <label>Name of Worker</label>
        </div>
        <div class='col-md-3 table-cell flex-row'>
            <label>Description of work</label>
        </div>
        <div class='col-md-2 table-cell flex-row'>
            <label>Place of work</label>
        </div>
        <div class='col-md-2 table-cell flex-row'>
            <label>Total earnings last year</label>
        </div>
        <div class='col-md-3 table-cell flex-row'>
            <label>Comments</label>
        </div>
    <div class="cross-width">

    </div>
    </div>

    {{ income_formset.management_form }}
    {% for form in income_formset.forms %}
    <div class='row flex-row'>
        <div class='col-md-2 table-cell flex-row'>
            {{form.worker_name}}
        </div>
        <div class='col-md-3 table-cell flex-row'>
            {{form.description_of_work}}
        </div>
        <div class='col-md-2 table-cell flex-row'>
            {{form.place_of_work}}
        </div>
        <div class='col-md-2 table-cell flex-row'>
            {{form.annual_income}}
        </div>
        <div class='col-md-3 table-cell flex-row'>
            {{form.comments}}
        </div>
         {{form.id.as_hidden}}
    </div>
    {%endfor%}

{% endblock %}
