{% extends "container.html" %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% ifequal message.message 'Data saved successfully' %}
                <div class="alert alert-success">
                    <strong>{{ message }}</strong>
                </div>
            {% endifequal %}
        {% endfor %}
    {% endif %}

    {% for dict in income_from_state_formset.errors %}
        {% for error in dict.values %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% for dict in aggri_or_non_aggri_labour_service_formset.errors %}
        {% for error in dict.values %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% csrf_token %}
    <h4 class='text-center'>16. FREEDOM OF EMPLOYMENT</h4><br>
    {{ freedom_of_employment_questions_form.management_form }}
    <div class="row">
        <div class="col-md-12">
            <label>A. Do the members of your household work more for one particular employer (or a few particular
                employers) than they
                do for others? Give details.</label>
            {{ freedom_of_employment_questions_form.your_household_work_more_for_one_particular_employer }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>B. Are members of your family free to work for wages for an employer of their choice? Give details.</h5>
            {{ freedom_of_employment_questions_form.members_of_your_family_free_to_work_for_wages_for_an_employer_of_their_choice }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>C. Does any person in the family provide unpaid/under-paid labour service to any employer? Has any
                member of your
                household been coerced to work for an employer? Coerced by any person the household is indebted to? Any
                instance of
                extra-economic coercion or threat?</h5>
            {{ freedom_of_employment_questions_form.does_any_person_in_the_family_provide_unpaid_under_paid_labour_field }}
        </div>
    </div>
    <h4 class="text-center">D. Agricultural / non-agricultural labour services</h4>
    <div class="row flex-row">
        <div class="col-md-2 table-cell flex-column">
            <label>Name of worker</label>
        </div>
        <div class="col-md-4 flex-column">
            <div class="row flex-row">
                <div class="col-md-12 flex-column table-cell">
                    <label>Name of employer</label>
                </div>
            </div>
            <div class="row flex-row">
                <div class="col-md-4 table-cell flex-column">
                    <label>Name</label>
                </div>
                <div class="col-md-4 table-cell flex-column">
                    <label>Caste</label>
                </div>
                <div class="col-md-4 table-cell flex-column">
                    <label>Land owned</label>
                </div>
            </div>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Type of obligation</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Description of task</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Labour days worked annually</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Hours of work</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Payment</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Comments</label>
        </div>
        <div class="cross-width"></div>
    </div>

    {{ aggri_or_non_aggri_labour_service_formset.management_form }}
    {% for aggri_or_non_aggri_labour_service_form in aggri_or_non_aggri_labour_service_formset.forms %}
        <div class="row flex-row aggri_or_non_aggri_labour_service_row ">
            {{ aggri_or_non_aggri_labour_service_form.id }}
            <div class="col-md-2 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.name_of_worker }}
            </div>
            <div class="col-md-4">
                <div class="row flex-row">
                    <div class="col-md-4 table-cell">
                        {{ aggri_or_non_aggri_labour_service_form.name_of_employer }}
                    </div>
                    <div class="col-md-4 table-cell">
                        {{ aggri_or_non_aggri_labour_service_form.caste_of_employer }}
                    </div>
                    <div class="col-md-4 table-cell">
                        {{ aggri_or_non_aggri_labour_service_form.land_owned_by_employer }}
                    </div>
                </div>
            </div>
            <div class="col-md-1 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.type_of_obligation }}
            </div>
            <div class="col-md-1 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.description_of_task }}
            </div>
            <div class="col-md-1 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.labour_days_worked_annually }}
            </div>
            <div class="col-md-1 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.hours_of_work }}
            </div>
            <div class="col-md-1 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.payment }}
            </div>
            <div class="col-md-1 table-cell">
                {{ aggri_or_non_aggri_labour_service_form.comments }}
            </div>
        </div>
    {% endfor %}

    <br><br><br>
    <div class="row">
        <div class="col-md-12">
            <label>E. Is your household obliged to perform any traditional caste duties? Give details.</label>
            {{ freedom_of_employment_questions_form.is_your_household_obliged_to_perform_any_traditional_caste_duties }}
        </div>
    </div>

    <h4 class='text-center'>17. INCOME FROM STATE AND COMMON PROPERTY RESOURCES</h4>
    <div class="table table-responsive">
        <div class="row flex-row">
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Crop number first digit </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Crop number second digit </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Sale number</label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Item collected </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Name of worker </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Number of days over the last year </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Commodity sold </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Month of disposal </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Quantity sold </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Unit of quantity consumed </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Price </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Unit of price </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Where marketed </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Marketing agency </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> If price determined in advanced </label>
            </div>
            <div class="col-md-1 flex-column-1 table-cell">
                <label> Comments </label>
            </div>
            <div class="cross-width"></div>
        </div>

        {{ income_from_state_formset.management_form }}
        {% for income_from_state_form in income_from_state_formset.forms %}
            <div class="row income_from_state_formset_row flex-row">
                {{ income_from_state_form.id }}
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.crop_number_first_digit }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.crop_number_second_digit }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.sale_number }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.item_collected }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.name_of_worker }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.number_of_days_over_the_last_year }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.commodity_sold }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.month_of_disposal }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.quantity_sold }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.unit_of_quantity_consumed }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.price }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.unit_of_price }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.where_marketed }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.marketing_agency }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.if_price_determined_in_advance }}
                </div>
                <div class='col-md-1 flex-column-1 table-cell'>
                    {{ income_from_state_form.comments }}
                </div>
            </div>
        {% endfor %}
        <br><br><br>
    </div>

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.income_from_state_formset_row').formset({
            prefix: '{{ income_from_state_formset.prefix }}',
            formCssClass: 'income_from_state_formset'
        });

        $('.aggri_or_non_aggri_labour_service_row').formset({
            prefix: '{{ aggri_or_non_aggri_labour_service_formset.prefix }}',
            formCssClass: 'aggri_or_non_aggri_labour_service_formset'
        });
    </script>
{% endblock %}
