{% extends "container.html" %}
{% load static %}

{% block content %}
<h4 class='text-center' xmlns="http://www.w3.org/1999/html">10. OTHER COSTS INCURRED LAST YEAR</h4>
    <div class="row flex-row">
        <div class="col-md-3 table-cell" >
            <label>Item(code)</label>
        </div>
        <div class="col-md-2 table-cell">
            <label>Amount spent</label>
        </div>
        <div class="col-md-2 table-cell" >
            <label>Month of Payment</label>
        </div>
        <div class="col-md-4 table-cell" >
            <label>Comments</label>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-3 table-cell" >
            <label>Crop Insurance (specify crop)</label>
        </div>
        <div class="col-md-2 table-cell">
            <label></label>
        </div>
        <div class="col-md-2 table-cell" >
            <label></label>
        </div>
        <div class="col-md-4 table-cell" >
            <label></label>
        </div>
    </div>
    {% csrf_token %}
    {{ crops_formset.management_form }}
    {% for form in crops_formset.forms %}
    <div class="row formset_row_1 flex-row">
            {{ form.id }}
        <div class="col-md-3 table-cell" >
            {{ form.item }}
        </div>
        <div class="col-md-2 table-cell">
            {{ form.amount_spent }}
        </div>
        <div class="col-md-2 table-cell" >
            {{ form.month_of_payment}}
        </div>
        <div class="col-md-4 table-cell" >
            {{ form.comments }}
        </div>
    </div>
    {% endfor %}
    {{ extra_formset.management_form }}
    {% for form in extra_formset.forms %}
    <div class="row formset_row_2 flex-row">
            {{ form.id }}
        <div class="col-md-3 table-cell" >
            {{ form.item }}
        </div>
        <div class="col-md-2 table-cell">
            {{ form.amount_spent }}
        </div>
        <div class="col-md-2 table-cell" >
            {{ form.month_of_payment}}
        </div>
        <div class="col-md-4 table-cell" >
            {{ form.comments }}
        </div>
    </div>
    {% endfor %}
    <div class="row flex-row">
        <div class="col-md-3" >
            <div class="col-md-5 table-cell">
                <label>Others (specify)</label>
            </div>
            <div class="col-md-7 table-cell">
                {{ form.item }}
            </div>
        </div>
        <div class="col-md-2 table-cell">
            {{ form.amount_spent }}
        </div>
        <div class="col-md-2 table-cell" >
            {{ form.month_of_payment}}
        </div>
        <div class="col-md-4 table-cell" >
            {{ form.comments }}
        </div>
    </div>


<h4 class="text-center">11. PAYMENTS MADE TO MANAGERS AND LONG-TERM WORKERS</h4>
{{ employ_form.id }}
<div style="display:flex;">
    <div>
        <label>Did you employ a manager last year?</label>
    </div>
    <div>
        {{ employ_form.employ_manager }}
    </div>
</div>
<div style="display:flex;">
    <div>
        <label>Did you employ a long term worker last year?</label>
    </div>
    <div>
        {{ employ_form.employ_long_term_worker }}
    </div>
</div>

    <div class="row flex-row">
        <div class="col-md-1 table-cell flex-column" >
            <label>Name of Worker/Manager</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Sex</label>
        </div>
        <div class="col-md-1 table-cell flex-column" >
            <label>Caste</label>
        </div>
        <div class="col-md-1 table-cell flex-column" >
            <label>Since when employed</label>
        </div>
        <div class="col-md-1 table-cell flex-column">
            <label>Number of months for which employed last year</label>
        </div>
        <div class="col-md-2 flex-row-wrap">
            <div class="col-md-12 table-cell flex-column">
                <label>Wage rate(specify periodicty of payment)</label>
            </div>
            <div class="col-md-5 table-cell flex-column">
                <label>In cash</label>
            </div>
            <div class="col-md-7 table-cell flex-column">
                <label>In kind (including gifts given on special occasions)</label>
            </div>
        </div>
        <div class="col-md-5 flex-row-wrap">
            <div class="col-md-12 table-cell flex-column">
                <label>Activites in which the worker participated last year (tick relevant activities)</label>
            </div>
            <div class="col-md-2 table-cell flex-column">
                <label>Agricultural Labour</label>
            </div>
            <div class="col-md-2 table-cell flex-column">
                <label>Operating agricultural machinery</label>
            </div>
            <div class="col-md-2 table-cell flex-column">
                <label>Tending nimals</label>
            </div>
            <div class="col-md-2 table-cell flex-column">
                <label>Non-agricultural businesses</label>
            </div>
            <div class="col-md-2 table-cell flex-column">
                <label>Domestic work</label>
            </div>
            <div class="col-md-2 table-cell flex-column">
                <label>Others(specify)</label>
            </div>
        </div>
        <div class = "cross-width"></div>
    </div>
    {{ payment_formset.management_form }}
    {% for form in payment_formset.forms %}
    <div class="row flex-row formset_row_3">
            {{ form.id }}
        <div class="col-md-1 table-cell flex-column" >
            {{ form.name_of_worker }}
        </div>
        <div class="col-md-1 table-cell flex-column">
            {{ form.sex }}
        </div>
        <div class="col-md-1 table-cell flex-column" >
            {{ form.caste }}
        </div>
        <div class="col-md-1 table-cell flex-column" >
            {{ form.since_when_employed }}
        </div>
        <div class="col-md-1 table-cell flex-column">
            {{ form.number_of_months_employed_last_year }}
        </div>
        <div class="col-md-2 flex-row-wrap">
            <div class="col-md-5 table-cell flex-column">
               {{ form.payment_in_cash }}
            </div>
            <div class="col-md-7 table-cell flex-column">
                {{ form.payment_in_kind }}
            </div>
        </div>
        <div class="col-md-5 flex-row-wrap">
            <div class="col-md-2 table-cell flex-column">
                {{ form.agricultural_labour }}
            </div>
            <div class="col-md-2 table-cell flex-column">
                {{ form.operating_agricultural_machinery }}
            </div>
            <div class="col-md-2 table-cell flex-column">
                {{ form.tending_animals }}
            </div>
            <div class="col-md-2 table-cell flex-column">
                {{ form.non_agricultural_businesses }}
            </div>
            <div class="col-md-2 table-cell flex-column">
                {{ form.domestic_work }}
            </div>
            <div class="col-md-2 table-cell flex-column">
                {{ form.activities_others }}
            </div>
        </div>
    </div>
        {% endfor %}

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row_1').formset({ prefix:'crop-form', 'addText': 'add another crop' });
        $('.formset_row_2').formset({ prefix:'extra-form' });
        $('.formset_row_3').formset({prefix:'payment-form'})
    </script>
{% endblock %}
