{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<h4 class='text-center'>27. COMMENTS AND INFORMATION ON INVESTIGATORS</h4>
{% csrf_token %}{% include 'common/comments.html' %}
<br><br>
<div class="row flex-row">
    <div class="col-md-2 table-cell flex-column">
        <label>Name of the investigator/s</label>
    </div>
    <div class="col-md-2 table-cell">
        {{infoOnInvestigationForm.name_of_investigator}}
    </div>
    <div class="col-md-2 table-cell flex-column">
        <label>Date of interview</label>
    </div>
    <div class="col-md-2 table-cell">
        {{infoOnInvestigationForm.date_of_interview}}
    </div>
    <div class="col-md-2 table-cell flex-column">
        <label>Time taken for interview</label>
    </div>
    <div class="col-md-2 table-cell">
        {{infoOnInvestigationForm.time_taken}}
    </div>
</div>
<div class="row flex-row">
    <div class="col-md-2 table-cell flex-column">
        <label>Data entry by</label>
    </div>
    <div class="col-md-2 table-cell">
        {{infoOnInvestigationForm.data_entry_by}}
    </div>
    <div class="col-md-2 table-cell flex-column">
        <label>Date of data entry</label>
    </div>
    <div class="col-md-2 table-cell">
        {{infoOnInvestigationForm.date_of_entry}}
    </div>
    <div class="col-md-2 table-cell flex-column">
        <label>Is further investigation needed?</label>
    </div>
    <div class="col-md-2 table-cell">
        {{infoOnInvestigationForm.further_investigation}}
    </div>
</div>

{% endblock %}
