{% extends "container.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% csrf_token %}
    <h4 class='text-center'> 18. ANIMAL RESOURCES </h4>
    <div class="row flex-row">
        <div class="col-md-7">
            <label>A.Inventory</label>
            <div class='row flex-row'>
                <div class='col-md-9 flex-column'>
                    <div class='col-md-12 table-cell flex-column'>
                        <label>Description</label>
                    </div>
                    <div class='row flex-row'>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Type of livestock</label>
                        </div>
                        <div class="col-md-4 flex-column">
                            <div class='col-md-12 table-cell flex-column'>
                                <label>For cattle only</label>
                            </div>
                            <div class='row flex-row'>
                                <div class='col-md-6 table-cell flex-column'>
                                    <label>Sex</label>
                                </div>
                                <div class='col-md-6 table-cell flex-column'>
                                    <label>Adult / Calf</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Breed</label>
                        </div>
                    </div>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>No</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Age (for cattle only)</label>
                </div>

                <div class='col-md-1 table-cell flex-column'>
                    <label>Total present value</label>
                </div>
                <div class="cross-width">
                </div>
            </div>

            {{ animal_inventory_formset.management_form }}
            {% for inventory_form in animal_inventory_formset.forms %}
                <div class='row animal_inventory_formset_row flex-row'>
                    <div class='col-md-9'>
                        <div class='row flex-row'>
                            <div class='col-md-4 table-cell'>
                                {{ inventory_form.type }}
                            </div>
                            <div class="col-md-4 flex-column">
                                <div class='row flex-row'>
                                    <div class='col-md-6 table-cell'>
                                        {{ inventory_form.sex }}
                                    </div>
                                    <div class='col-md-6 table-cell'>
                                        {{ inventory_form.cattle_type }}
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-4 table-cell'>
                                {{ inventory_form.breed }}
                            </div>
                        </div>

                    </div>
                    <div class='col-md-1 table-cell'>
                        {{ inventory_form.no }}
                    </div>
                    <div class='col-md-1 table-cell'>
                        {{ inventory_form.age }}
                    </div>

                    <div class='col-md-1 table-cell'>
                        {{ inventory_form.total_present_value }}
                    </div>
                    {{ inventory_form.id.as_hidden }}
                </div>
            {% endfor %}
        </div>

        <div class="col-md-3 col-md-offset-1">
            <label>B.Feed</label>
            {% csrf_token %}
            <div class='row flex-row'>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Type of feed</label>
                </div>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Homegrown / Purchased</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>QTY</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Value</label>
                </div>
                <div class="cross-width">

                </div>
            </div>

            {{ animal_feed_formset.management_form }}
            {% for feed_form in animal_feed_formset.forms %}
                <div class='row animal_feed_formset_row flex-row'>
                    <div class='col-md-4 table-cell'>
                        {{ feed_form.type_of_feed }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ feed_form.source }}
                    </div>
                    <div class='col-md-2 table-cell'>
                        {{ feed_form.qty }}
                    </div>
                    <div class='col-md-2 table-cell'>
                        {{ feed_form.value }}
                    </div>
                    {{ feed_form.id.as_hidden }}
                </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <div class='row flex-row'>
        <div class="col-md-3">
            <label>C.Other Expenditure</label>
            {% csrf_token %}
            <div class='row flex-row'>
                <div class='col-md-6 table-cell flex-column'>
                    <label>Item</label>
                </div>
                <div class='col-md-6 table-cell flex-column'>
                    <label>Expenditure</label>
                </div>
                <div class="cross-width">
                </div>
            </div>

            {{ other_expenditure_formset.management_form }}
            {% for feed_form in other_expenditure_formset.forms %}
                <div class='row other_expenditure_formset_row flex-row'>
                    <div class='col-md-6 table-cell'>
                        {{ feed_form.item }}
                    </div>
                    <div class='col-md-6 table-cell'>
                        {{ feed_form.expenditure }}
                    </div>
                    {{ feed_form.id.as_hidden }}
                </div>
            {% endfor %}
        </div>
    <div class="col-md-8 col-md-offset-1">
        <label>D.Output and income</label>
        {% csrf_token %}
    <div class='row flex-row'>

        <div class='col-md-4 table-cell flex-column'>
            <label>Product</label>
        </div>
        <div class='col-md-8 flex-column'>
            <div class="row flex-row">
                <div class="col-md-12 table-cell">
                    <label>Income</label>
                </div>
            </div>
            <div class="row flex-row">
                <div class="col-md-2 table-cell flex-column">
                    <label>Production</label>
                </div>
                <div class="col-md-2 table-cell flex-column">
                    <label>Units</label>
                </div>
                <div class="col-md-2 table-cell flex-column">
                    <label>Sale</label>
                </div>
                <div class="col-md-2 table-cell flex-column">
                    <label>Units</label>
                </div>
                <div class="col-md-2 table-cell flex-column">
                    <label>Price</label>
                </div>
                <div class="col-md-2 table-cell flex-column">
                    <label>Units</label>
                </div>
            </div>
        </div>
        <div class="cross-width">
        </div>
    </div>

    {{ output_and_income_formset.management_form }}
    {% for feed_form in output_and_income_formset.forms %}
        <div class='row output_and_income_formset flex-row'>
            <div class='col-md-4 table-cell flex-column'>
                {{ feed_form.product }}
            </div>
            <div class='col-md-8 flex-column'>
                <div class="flex-column">
                    <div class="row-md-8 flex-row">
                        <div class="col-md-2 table-cell flex-column">
                            {{ feed_form.production }}
                        </div>
                        <div class="col-md-2 table-cell flex-column">
                            {{ feed_form.production_unit }}
                        </div>
                        <div class="col-md-2 table-cell flex-column">
                            {{ feed_form.sale }}
                        </div>
                        <div class="col-md-2 table-cell flex-column">
                            {{ feed_form.sale_unit }}
                        </div>
                        <div class="col-md-2 table-cell flex-column">
                            {{ feed_form.price }}
                        </div>
                        <div class="col-md-2 table-cell flex-column">
                            {{ feed_form.price_unit }}
                        </div>
                        {{ feed_form.id.as_hidden }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% csrf_token %}
    </div>
    </div>
    <br>

    <h4 class='text-center'>19A. INCOME FROM BUSINESS ACTIVITIES OTHER THAN CROP PRODUCTION</h4>
    <div class='row flex-row'>
        <div class='col-md-2 table-cell flex-column'>
            <label>Name of Worker</label>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <label>Description of work</label>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <label>Place of work</label>
        </div>
        <div class='col-md-5 flex-column'>
            <div class='row flex-row'>
                <div class="col-md-12 table-cell flex-column">
                    <label>Earnings and costs related to business activity (specify whether for the whole
                        year or per month</label>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Production and Sale</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Cost of material inputs</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Wages and salaries paid</label>
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    <label>Rents paid (for land, building or machinery)</label>
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    <label>Any other costs (specify)</label>
                </div>
            </div>

        </div>
        <div class='col-md-1 table-cell flex-column'>
            <label>Comments</label>
        </div>
        <div class="cross-width">

        </div>
    </div>

    {{ income_business_formset.management_form }}
    {% for business_form in income_business_formset.forms %}
        <div class='row  income_business_formset_row flex-row'>
            <div class='col-md-2 table-cell'>
                {{ business_form.name_of_worker }}
            </div>
            <div class='col-md-2 table-cell'>
                {{ business_form.description_of_work }}
            </div>
            <div class='col-md-2 table-cell'>
                {{ business_form.place_of_work }}
            </div>
            <div class='col-md-5 flex-row'>
                <div class='row flex-row'>
                    <div class='col-md-2 table-cell flex-column'>
                        {{ business_form.production_and_sale }}
                    </div>
                    <div class='col-md-2 table-cell flex-column'>
                        {{ business_form.cost_of_material_inputs }}
                    </div>
                    <div class='col-md-2 table-cell flex-column'>
                        {{ business_form.wages_and_salaries_paid }}
                    </div>
                    <div class='col-md-3 table-cell flex-column'>
                        {{ business_form.rents_paid }}
                    </div>
                    <div class='col-md-3 table-cell flex-column'>
                        {{ business_form.any_other_costs }}
                    </div>
                </div>

            </div>
            <div class='col-md-1 table-cell flex-row'>
                {{ business_form.comments }}
            </div>
            {{ business_form.id.as_hidden }}
        </div>
    {% endfor %}

    <br><br>
    {% csrf_token %}
    <h4 class='text-center'>19B. INCOME FROM SALARIES, RENTS, REMITTANCES, PENSIONS, SCHOLARSHIPS AND ANY OTHER
        ACTIVITIES</h4>
    <div class='row flex-row'>
        <div class='col-md-2 table-cell flex-column'>
            <label>Name of Worker</label>
        </div>
        <div class='col-md-3 table-cell flex-column'>
            <label>Description of work</label>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <label>Place of work</label>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <label>Total earnings last year</label>
        </div>
        <div class='col-md-3 table-cell flex-column'>
            <label>Comments</label>
        </div>
        <div class="cross-width">

        </div>
    </div>

    {{ income_salary_formset.management_form }}
    {% for salary_form in income_salary_formset.forms %}
        <div class='row income_salary_formset_row flex-row'>
            <div class='col-md-2 table-cell'>
                {{ salary_form.worker_name }}
            </div>
            <div class='col-md-3 table-cell'>
                {{ salary_form.description_of_work }}
            </div>
            <div class='col-md-2 table-cell'>
                {{ salary_form.place_of_work }}
            </div>
            <div class='col-md-2 table-cell'>
                {{ salary_form.annual_income }}
            </div>
            <div class='col-md-3 table-cell'>
                {{ salary_form.comments }}
            </div>
            {{ salary_form.id.as_hidden }}
        </div>
    {% endfor %}
    <br><br>

    <script type="text/javascript">
        $('.animal_inventory_formset_row').formset();
        $('.animal_feed_formset_row').formset();
        $('.other_expenditure_formset_row').formset();
        $('.output_and_income_formset').formset();
        $('.income_business_formset_row').formset();
        $('.income_salary_formset_row').formset();
    </script>
{% endblock %}
