{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% ifequal message.message 'Data saved successfully' %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endifequal %}
{% endfor %}
{% endif %}
<form method='POST' id="section_9_form">
    {% csrf_token %}
    <h5 class='text-center'>9A. OWNERSHIP OF WELLS/TUBEWELLS</h5>
    <table style="width:200%;">
        <tr class="table-head current_ownership_formset_row">
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Type of Ownership</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Year when installed</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Present depth</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Original depth</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Type</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Source of Power</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Cost of installation</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Source of finance</label>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Maintenance expenses last year</label>
            </td>
            <td style="width:10%;text-align:center;" class="table-cell">
                <div class='row ' style="text-align:center;">
                    <div class='col-md-12'>
                        <label>Irrigation on land owned and operated by other households</label>
                    </div>
                </div>
                <div class= 'row style="text-align:center;"'>
                    <div class='col-md-1 table-cell'>
                        <label>Crop</label>
                    </div>
                    <div class='col-md-5 table-cell'>
                        <label>Sale of water</label>
                    </div>
                    <div class='col-md-6 table-cell'>
                        <label>Any other land irrigated</label>
                    </div>
                </div>
                <div class= 'row style="text-align:center;"'>
                    <div class='col-md-1 table-cell'>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label>Area irrigated</label>
                    </div>
                    <div class='col-md-2 table-cell'>
                        <label>Total revenue</label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label>Nature of Exchange</label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label>Extent</label>
                    </div>
                </div>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                <label>Comments (specify if open well)</label>
            </td>
        </tr>
    {{ current_ownership_formset.management_form }}
    {% for form in current_ownership_formset.forms %}
        <tr class='current_ownership_formset_row'>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.ownership_type }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.year_when_installed }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.present_depth }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.original_depth }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.type }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.power_source }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.installation_cost }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.finance_source }}
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.expenses_last_year }}
            </td>
            <td style="width:10%;text-align:center;" class="table-cell">
                <div class='col-md-1 table-cell'>
                    {{ form.irrigation_crop }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ form.irrigation_sale_area }}
                </div>
                <div class='col-md-2 table-cell'>
                    {{ form.irrigation_revenue }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ form.exchange_nature }}
                </div>
                <div class='col-md-3 table-cell'>
                    {{ form.irrigation_land_extent }}
                </div>
            </td>
            <td style="width:2%;text-align:center;" class="table-cell">
                {{ form.comments }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <br/><br/><br/>
    <h5 class='text-center'>9B. SPECIFIED MEANS OF PRODUCTION: OWNERSHIP AND EARNINGS</h5>
    <div class="row flex-row">
        <div class='col-md-1 table-cell flex-column'>
            <label>Item (code)</label>
        </div>
        <div class='col-md-5 table-cell flex-column'>
            <div class="row flex-row">
                <div class='col-md-12 table-cell flex-column'>
                    <label>Ownership</label>
                </div>
            </div>
            <div class="row flex-row">
                <div class='col-md-2 table-cell flex-column'>
                    <label>Number</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Year of purchase</label>
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    <label>Price paid per unit</label>
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    <label>Subsidy received, if any</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Present value</label>
                </div>
            </div>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <label>Maintenance charges last year</label>
        </div>
        <div class='col-md-2 table-cell'>
            <div class="row">
                <div class='col-md-12 table-cell'>
                    <label>Rental earnings last year</label>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6 table-cell'>
                    <label>Units</label>
                </div>
                <div class='col-md-6 table-cell'>
                    <label>Earnings</label>
                </div>
            </div>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <label>Comments (discuss details of contract if necessary)</label>
        </div>
        <div class="cross-width"></div>
    </div>

    {{ irrigation_means_formset.management_form }}
    <div class="row">
        <div class='col-md-12'>
            <label>Equipment for irrigation</label>
        </div>
    </div>
    {% for form in irrigation_means_formset.forms %}
    <div class='row irrigation_means_formset_row flex-row'>
        <div class='col-md-1 table-cell flex-column'>
            {{ form.irrigation_item_code }}
        </div>
        <div class='col-md-5 table-cell flex-column'>
            <div class="row flex-row">
                <div class='col-md-2 table-cell flex-column'>
                    {{ form.ownership_number }}
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    {{ form.year_of_purchase }}
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    {{ form.price_paid }}
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    {{ form.subsidy_received }}
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    {{ form.present_value }}
                </div>
            </div>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            {{ form.maintenance_charges }}
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <div class="row flex-row">
                <div class='col-md-6 table-cell flex-column'>
                    {{ form.rental_earnings }}
                </div>
                <div class='col-md-6 table-cell flex-column'>
                    {{ form.rental_earnings_units }}
                </div>
            </div>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            {{ form.comments }}
        </div>
    </div>
    {% endfor %}

    {{ production_means_formset.management_form }}
    <div class="row">
        <div class='col-md-12'>
            <label>Means of Production</label>
        </div>
    </div>
    {% for form in production_means_formset.forms %}
    <div class='row production_means_formset_row flex-row'>
        <div class='col-md-1 table-cell flex-column'>
            {{ form.production_item_code }}
        </div>
        <div class='col-md-5 table-cell flex-column'>
            <div class="row flex-row">
                <div class='col-md-2 table-cell flex-column'>
                    {{ form.ownership_number }}
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    {{ form.year_of_purchase }}
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    {{ form.price_paid }}
                </div>
                <div class='col-md-3 table-cell flex-column'>
                    {{ form.subsidy_received }}
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    {{ form.present_value }}
                </div>
            </div>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            {{ form.maintenance_charges }}
        </div>
        <div class='col-md-2 table-cell flex-column'>
            <div class="row flex-row">
                <div class='col-md-6 table-cell flex-column'>
                    {{ form.rental_earnings }}
                </div>
                <div class='col-md-6 table-cell flex-column'>
                    {{ form.rental_earnings_units }}
                </div>
            </div>
        </div>
        <div class='col-md-2 table-cell flex-column'>
            {{ form.comments }}
        </div>
    </div>
    {% endfor %}

    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>
</form>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.current_ownership_formset_row').formset({
        prefix: '{{ current_ownership_formset.prefix }}'
    });
    $('.production_means_formset_row').formset({
        prefix: '{{ production_means_formset.prefix }}'
    });
    $('.irrigation_means_formset_row').formset({
        prefix: '{{ irrigation_means_formset.prefix }}'
    });
</script>
{% endblock %}
