{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% ifequal message.message 'Data saved successfully' %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endifequal %}
{% endfor %}
{% endif %}

{% for dict in homesteadformset.errors %}
    {% for error in dict.values %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}

{% for dict in current_ownership_formset.errors %}
    {% for error in dict.values %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endfor %}

    {% csrf_token %}

    <div class = 'row'>
        <div class='col-md-8 flex-column'>
            <div class='row flex-row'>
                <div class='col-md-12 flex-column'>
                    <h4 class='text-center'>3. CURRENT OWNERSHIP HOLDING</h4>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Land Type</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Ownership plot no</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Extent of owned land (specify units)</label>
                </div>
                <div class='col-md-2 table-cell flex-column'>
                    <label>Mode of acquisition</label>
                </div>
                <div class='col-md-4'>
                    <div class='row flex-row'>
                        <div class='col-md-12 table-cell flex-column'>
                            <label>Irrigation</label>
                        </div>
                    </div>
                    <div class= 'row flex-row'>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Source</label>
                        </div>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Flow/lift</label>
                        </div>
                        <div class='col-md-4 table-cell flex-column'>
                            <label>Ownership</label>
                        </div>
                    </div>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Value</label>
                </div>
                <div class='col-md-1 table-cell flex-column'>
                    <label>Comments</label>
                </div>
                <div class="cross-width"></div>
            </div>

            {{ current_ownership_formset.management_form }}
            {% for current_ownership_form in current_ownership_formset.forms %}
            <div class='row current_ownership_formset_row flex-row'>
                    {{ current_ownership_form.id }}
                <div class='col-md-2 table-cell'>
                    {{ current_ownership_form.land_type }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.ownership_plot_no }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.extent_owned_land }}
                </div>
                <div class='col-md-2 table-cell'>
                    {{ current_ownership_form.acquisition_mode }}
                </div>
                <div class="col-md-4">
                    <div class='col-md-4 table-cell'>
                        {{ current_ownership_form.irrigation_source }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ current_ownership_form.irrigation_flow }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ current_ownership_form.irrigation_ownership }}
                    </div>
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.value }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ current_ownership_form.comments }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class='col-md-offset-1 col-md-3 flex-column'>
            <div class='row flex-row'>
                <div class='col-md-12 flex-column'>
                    <h4 class='text-center'>Table 3.1. Homestead area</h4>
                </div>
            </div>
            <div class='row flex-row'>
                <div class='col-md-9 flex-column table-cell'>
                    <label>Components</label>
                </div>
                <div class='col-md-3 flex-column table-cell'>
                    <label>Area</label>
                </div>
                <div class="cross-width"></div>
            </div>

            {{ homesteadformset.management_form }}
            {% for homesteadform in homesteadformset.forms %}
            <div class='row homestead_formset_row flex-row'>
                <div class='col-md-9 flex-column table-cell'>
                    {{ homesteadform.components }}
                </div>
                <div class='col-md-3 flex-column table-cell'>
                    {{ homesteadform.area }}
                </div>
                {{ homesteadform.id.as_hidden }}
            </div>
            {% endfor %}

        </div>
    </div>

    <h4 class='text-center'>4. SALE AND PURCHASE OF AGRICULTURAL LAND</h4><br/>

        <b>4.1 Land sold</b><br>
        <div class='row flex-row'>
            <div class='col-md-1 table-cell  '>
                <label> Year Of sale</label>
            </div>
            <div class='col-md-1 table-cell long-div'>
                <label> Extent </label>
            </div>

            <div class='col-md-1 table-cell long-div'>
                <label> Type of Land </label>
            </div>

            <div class='col-md-4 table-cell long-div'>
                <div class='col-md-12 table-cell'>
                    <p class='text-center'>Buyer</p>
                </div>
                <div class='row flex-row'>
                    <div class='col-md-3 table-cell'>
                        <label> Name </label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label> Caste </label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label> Occupation </label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label> Place of residence </label>
                    </div>
                </div>
            </div>

            <div class='col-md-1 table-cell long-div'>
            <label> Price of land </label>
            </div>

            <div class='col-md-1 table-cell long-div'>
            <label> Sale transaction number </label>
            </div>

            <div class='col-md-3 table-cell long-div'>
            <label>  Reason for sale </label>
            </div>
            <div class="cross-width"></div>
        </div>

        {{ landsold_formset.management_form }}
        {% for landsold_form in landsold_formset.forms %}
            <div class='row flex-row landsale_formset_row'>
                    {{ landsold_form.id }}
                <div class='col-md-1 table-cell'>
                    {{ landsold_form.year_of_sale }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ landsold_form.extent_of_land_sold }}
                </div>

                <div class='col-md-1 table-cell'>
                    {{ landsold_form.type_of_land_sold }}
                </div>

                <div class='col-md-4 table-cell'>
                    <div class='row flex-row'>
                        <div class='col-md-3 table-cell'>
                            {{ landsold_form.name_of_buyer }}
                        </div>
                        <div class='col-md-3 table-cell'>
                            {{ landsold_form.caste_of_buyer }}
                        </div>
                        <div class='col-md-3 table-cell'>
                            {{ landsold_form.occupation_of_buyer }}
                        </div>
                        <div class='col-md-3 table-cell'>
                            {{ landsold_form.place_of_residence_of_buyer }}
                        </div>
                    </div>
                </div>

                <div class='col-md-1 table-cell'>
                    {{ landsold_form.price_of_land_sold }}
                </div>

                <div class='col-md-1 table-cell'>
                    {{ landsold_form.sale_transaction_number }}
                </div>

                <div class='col-md-3 table-cell'>
                    {{ landsold_form.reasons_for_sale }}
                </div>
            </div>
        {% endfor %}

        <br>
        <br>

        <b>4.2 Land bought</b><br>
        <div class='row flex-row'>
            <div class='col-md-1 table-cell long-div'>
            <label> Year of purchase </label>
            </div>
            <div class='col-md-1 table-cell long-div'>
                <label> Extent </label>
            </div>

            <div class='col-md-1 table-cell long-div'>
                <label> Type of land </label>
            </div>

            <div class='col-md-4 table-cell long-div'>
                <div class='col-md-12 table-cell'>
                    <p class='text-center'>Seller</p>
                </div>
                <div class='row flex-row'>
                    <div class='col-md-3 table-cell'>
                    <label> Name </label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label> Caste </label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label> Occupations </label>
                    </div>
                    <div class='col-md-3 table-cell'>
                        <label> Place of residence </label>
                    </div>
                </div>
            </div>

            <div class='col-md-1 table-cell long-div'>
                <label> Price of land </label>
            </div>

            <div class='col-md-1 table-cell long-div'>
                <label> Purchased transaction number </label>
            </div>
            <div class="cross-width"> </div>
        </div>

        {{ landpurchased_formset.management_form }}
        {% for landpurchased_form in landpurchased_formset.forms %}
            <div class='row flex-row landpurchased_formset_row'>
                {{ landpurchased_form.id }}
                <div class='col-md-1 table-cell'>
                    {{ landpurchased_form.year_of_purchase }}
                </div>
                <div class='col-md-1 table-cell'>
                    {{ landpurchased_form.extent_of_land_bought }}
                </div>

                <div class='col-md-1 table-cell'>
                    {{ landpurchased_form.type_of_land_purchased }}
                </div>

                <div class='col-md-4 table-cell'>
                    <div class='row flex-row'>
                        <div class='col-md-3 table-cell'>
                            {{ landpurchased_form.name_of_seller }}
                        </div>
                        <div class='col-md-3 table-cell'>
                            {{ landpurchased_form.caste_of_seller }}
                        </div>
                        <div class='col-md-3 table-cell'>
                            {{ landpurchased_form.occupation_of_seller }}
                        </div>
                        <div class='col-md-3 table-cell'>
                            {{ landpurchased_form.place_of_residence_of_seller }}
                        </div>
                    </div>
                </div>

                <div class='col-md-1 table-cell'>
                    {{ landpurchased_form.price_of_land_purchased }}
                </div>

                <div class='col-md-1 table-cell'>
                    {{ landpurchased_form.purchase_transaction_number }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            {{ landpurchased_comments_form.id }}
            <label> Comments </label>
                {{  landpurchased_comments_form.landpurchased_comments }}
        </div>


<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.current_ownership_formset_row').formset({
        prefix: '{{ current_ownership_formset.prefix }}'
    });
    $('.homestead_formset_row').formset({
        prefix: '{{ homesteadformset.prefix }}'
    });
    $('.landsale_formset_row').formset({
        prefix:'{{ landsold_formset.prefix }}'
    });
    $('.landpurchased_formset_row').formset({
        prefix:'{{ landpurchased_formset.prefix }}'
    });
</script>
{% endblock %}
