{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
    {% ifequal message.message 'Data saved successfully' %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endifequal %}
{% endfor %}
{% endif %}

    {% csrf_token %}
    {{ introduction_form.id }}
    <h4 class='text-center'>1. INTRODUCTION</h4><br>
    <div class='row'>
        <div class='col-md-4 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Name of head of household{% if introduction_form.household_head_name.field.required %}<span class="required">*</span>{% endif %}</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.household_head_name }}
            </div>
        </div>
        <div class='col-md-1 flex-row'>
            <div class='col-md-4 table-cell flex-column'>
                <label>Sex{% if introduction_form.sex.field.required %}<span class="required">*</span>{% endif %}</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.sex }}
            </div>
        </div>
        <div class='col-md-2 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Age (in years)</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.age }}
            </div>
        </div>
        <div class='col-md-2 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Caste/Tribe</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.caste_tribe }}
            </div>
        </div>
        <div class='col-md-3 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Specify if SC/ST/Others</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.sc_st }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-2 flex-row'>
            <div class='col-md-4 table-cell flex-column'>
                <label>Religion</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.religion }}
            </div>
        </div>
        <div class='col-md-2 flex-row'>
            <div class='col-md-8 table-cell flex-column'>
                <label>Year of migration</label>
            </div>
            <div class='col-md-4 table-cell'>
                {{ introduction_form.year_of_migration }}
            </div>
        </div>
        <div class='col-md-4 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Father's name</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.father_name }}
            </div>
        </div>
        <div class='col-md-4 flex-row'>
            <div class='col-md-5 table-cell flex-column'>
                <label>Father's occupation</label>
            </div>
            <div class='col-md-7 table-cell'>
                {{ introduction_form.father_occupation }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Village of birth</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.birth_village }}
            </div>
        </div>
        <div class='col-md-4 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Tehsil of birth</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.birth_tehsil }}
            </div>
        </div>
        <div class='col-md-4 flex-row'>
            <div class='col-md-5 table-cell flex-column'>
                <label>District of birth</label>
            </div>
            <div class='col-md-7 table-cell'>
                {{ introduction_form.birth_district }}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4 flex-row'>
            <div class='col-md-2 table-cell flex-column'>
                <label>Address</label>
            </div>
            <div class='col-md-10 table-cell'>
                {{ introduction_form.address }}
            </div>
        </div>
        <div class='col-md-4 flex-row'>
            <div class='col-md-6 table-cell flex-column'>
                <label>Telephone no., if any</label>
            </div>
            <div class='col-md-6 table-cell'>
                {{ introduction_form.telephone_no }}
            </div>
        </div>
        <div class='col-md-4 flex-row'>
            <div class='col-md-5 table-cell flex-column'>
                <label>Sample no., if any</label>
            </div>
            <div class='col-md-7 table-cell'>
                {{ introduction_form.sample_number }}
            </div>
        </div>
    </div>
    <div class='row flex-row'>
        <div class='col-md-6 flex-row'>
            <div class='col-md-4 table-cell flex-column'>
                <label>Reason if OS not canvassed or if RS canvassed</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.os_rs_reason }}
            </div>
        </div>
        <div class='col-md-6 flex-row'>
            <div class='col-md-4 table-cell flex-column'>
                <label>Comments</label>
            </div>
            <div class='col-md-8 table-cell'>
                {{ introduction_form.comments }}
            </div>
        </div>
    </div>
    <br>
    <h4 class='text-center'>2. HOUSEHOLD MEMBERS: GENERAL INFROMATION</h4><br>
    <div id="hhm-rows">
        <div class="row flex-row">
            <div class="col-md-2 flex-row" >
                <div class="col-md-2 table-cell flex-column">
                    <label>S.No</label>
                </div>
                <div class="col-md-7 table-cell flex-column">
                    <label>Name</label>
                </div>
                <div class="col-md-3 table-cell flex-column" >
                    <label>Sex</label>
                </div>
            </div>
            <div class="col-md-1 flex-row table-cell flex-column">
                <label>Age</label>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              <label>Relationship to head of household</label>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              <label>Marital Status</label>
            </div>
            <div class="col-md-2 flex-row-wrap">
                <div class="col-md-12 table-cell">
                    <label>Occupation</label>
                </div>
                <div class="col-md-4 table-cell flex-column">
                    <label>Main</label>
                </div>
                 <div class="col-md-4 table-cell flex-column">
                    <label>Secondary</label>
                </div>
                 <div class="col-md-4 table-cell flex-column">
                    <label>Other</label>
                </div>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              <label>Place of work</label>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              <label>Literacy Status</label>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              <label>Educational Level</label>
            </div>
            <div class="col-md-1 table-cell flex-column">
              <label>If enrolled, give name and location of institution</label>
            </div>
            <div class="col-md-1 table-cell flex-column">
              <label>Comments</label>
            </div>
            <div class="cross-width"></div>
        </div>

        {{ formset.management_form }}
        {% for form in formset.forms %}
        <div class="row flex-row formset_row">
                {{ form.id }}
            <div class="col-md-2" >
                <div class="col-md-2 table-cell flex-column">
                {{ form.sno }}
                </div>
                <div class="col-md-7 table-cell flex-column">
                {{ form.name }}
                </div>
                <div class="col-md-3 table-cell flex-column" >
                {{ form.sex }}
                </div>
            </div>
            <div class="col-md-1 flex-row">
                <div class="col-md-5 table-cell flex-column" >
                  {{ form.age }}
                </div>
               <div class="col-md-7 table-cell flex-column" >
                  {{ form.age_unit }}
                </div>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              {{ form.relationship }}
            </div>
            <div class="col-md-1 table-cell flex-column" >
              {{ form.marital_status }}
            </div>
            <div class="col-md-2">
                <div class="col-md-4 table-cell">
                    {{ form.primary_occupation }}
                </div>
                 <div class="col-md-4 table-cell">
                    {{ form.secondary_occupation }}
                </div>
                 <div class="col-md-4 table-cell">
                    {{ form.tertiary_occupation }}
                </div>
            </div>
            <div class="col-md-1 table-cell flex-column" >
              {{ form.place_of_work }}
            </div>
            <div class="col-md-1 table-cell flex-column" >
              {{ form.literacy_status }}
            </div>
            <div class="col-md-1 table-cell flex-column" >
              {{ form.education_level }}
            </div>
            <div class="col-md-1 table-cell flex-column">
              {{ form.name_location_of_institution }}
            </div>
            <div class="col-md-1 table-cell flex-column">
                {{ form.comments }}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row').formset();
        $('input[name="members-INITIAL_FORMS"]').val(0);
    </script>
    <br><br>

{% endblock %}
