{% extends "container.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success">
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}

{% for dict in production_and_sales_on_operational_holding_formset.errors %}
{% for error in dict.values %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}
{% endfor %}
<form method='POST' id="page_5_form">
    {% csrf_token %}
    <h5 class='text-center'>6.PRODUCTION AND SALES ON OPERATIONAL HOLDING IN THE LAST AGRICULTURAL YEAR</h5>
    <b>A. Cropping pattern and crop schedule</b><br>
    <div class='row flex-row'>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label>Serial No.</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label>Corp</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label>Variety</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label>Tenurial Status</label>
        </div>
        <div class='col-md-1 table-cell long-div  flex-column'>
            <label>Crop/Homestead Land</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label>Extent</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
                 <label>Month of sowing </label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label>Month of harvesting</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
             <label>Source of irrigation</label>
        </div>
        <div class='col-md-2'>
            <div class='col-md-12 table-cell'>
                <p class='text-center'>Production</p>
            </div>
            <div class='row flex-row'>
                <div class='col-md-6 table-cell'>
                     <label>Grain/Main Products</label>
                </div>
                <div class='col-md-6 table-cell'>
                     <label>Straw and other by-products</label>
                </div>
            </div>
        </div>
        <div class='col-md-2'>
            <div class='col-md-12 table-cell'>
                <p class='text-center'>Household consumption including amount kept for use as seeds</p>
            </div>
            <div class='row flex-row'>
                <div class='col-md-6 table-cell'>
                    Grain/Main products
                </div>
                <div class='col-md-6 table-cell'>
                 <label>Straw and other by-products</label>
                </div>
            </div>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
             <label>Comments</label>
        </div>
        <div class="cross-width"></div>
    </div>

    {{ production_and_sales_on_operational_holding_formset.management_form }}
    {% for production_and_sales_on_operational_holding_form in production_and_sales_on_operational_holding_formset.forms %}
        <div class='row flex-row croppingpattern_formset_row'>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.serial_no}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.crop}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.variety}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.tenurial_status}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.crop_homestead_land}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.extent}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.month_of_sowing}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.month_of_harvesting}}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.source_of_irrigation}}
            </div>
            <div class='col-md-2'>
            <div class='row flex-row'>
                <div class='col-md-6 table-cell'>
                    {{production_and_sales_on_operational_holding_form.production_main_product}}
                </div>
                <div class='col-md-6 table-cell'>
                    {{production_and_sales_on_operational_holding_form.production_by_product}}
                </div>
            </div>
        </div>
            <div class='col-md-2'>
            <div class='row flex-row'>
                <div class='col-md-6 table-cell'>
                    {{production_and_sales_on_operational_holding_form.consumption_main_product}}
                </div>
                <div class='col-md-6 table-cell'>
                    {{production_and_sales_on_operational_holding_form.consumption_by_product}}
                </div>
            </div>
        </div>
            <div class='col-md-1 table-cell long-div'>
                {{production_and_sales_on_operational_holding_form.comments}}
            </div>

        </div>
    {% endfor %}


    <br>
    <!--<div class=' flex-row'>-->
        <!--<div class='long-div'>-->
             <!--<b>{{production_and_sales_on_operational_holding_comment_form.comments_notes.label_tag}}</b>-->
        <!--</div>-->

        <!--<div class='long-div flex-row' >-->
            <!--{{production_and_sales_on_operational_holding_comment_form.comments_notes}}-->
        <!--</div>-->
    <!--</div>-->
        <div class="row">
        <div class="col-md-12">
            {{production_and_sales_on_operational_holding_comment_form.comments_notes.label_tag}}
        </div>
    </div>
        <div class="row flex-row">
        <div class="col-md-12">
            {{production_and_sales_on_operational_holding_comment_form.comments_notes}}
        </div>
    </div>

    <div class='row text-center'>
        <button class='btn btn-primary btn-submit' type="submit">Save</button>
    </div>

</form>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.croppingpattern_formset_row').formset();
</script>
{% endblock %}
