{% extends "container.html" %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% for dict in sales_formset.errors %}
        {% for error in dict.values %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% csrf_token %}
    <br>
    <h4 class="text-center">B. Production</h4>
    <div class="flex-row">

        <div class='col-md-2 table-cell flex-column long-div'>
            <label>Crop No.</label>
        </div>
        <div class='col-md-1 table-cell long-div flex-column'>
            <label> Crop </label>
        </div>
        <div class='col-md-3 flex-row-wrap-1'>
            <div class='col-md-12 table-cell flex-column flex-column'>
                <label>Production</label>
            </div>
            <div class='row flex-row'>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Grain Main Products</label>
                </div>
                <div class='col-md-2 table-cell long-div flex-column'>
                    <lablel>Units</lablel>
                </div>
                <div class='col-md-4 table-cell'>
                    <label>Straw and other by-products</label>
                </div>
                <div class='col-md-2 table-cell long-div flex-column'>
                    <label>Units </label>
                </div>
            </div>
        </div>

        <div class='col-md-3 flex-row-wrap-1'>
            <div class='col-md-12 table-cell flex-column'>
                <label>Household Consumption</label>
            </div>
            <div class='row flex-row'>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Grain/Main Products</label>
                </div>
                <div class='col-md-2 table-cell long-div flex-column'>
                    <label>Units</label>
                </div>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Straw and other by-products</label>
                </div>
                <div class='col-md-2 table-cell long-div flex-column'>
                    <label>Units</label>
                </div>
            </div>
        </div>

        <div class='col-md-3 flex-row-wrap-1'>
            <div class='col-md-12 table-cell flex-column'>
                <label>Rent nand Wages</label>
            </div>
            <div class='row flex-row'>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Grain/Main Products</label>
                </div>
                <div class='col-md-2 table-cell long-div flex-column'>
                    <label>Units </label>
                </div>
                <div class='col-md-4 table-cell flex-column'>
                    <label>Straw and other by-products</label>
                </div>
                <div class='col-md-2 table-cell long-div flex-column'>
                    <label>Units</label>
                </div>
            </div>
        </div>
        <div class="col-md-1  table-cell flex-column">
            <label>Comments</label>
        </div>
        <div class="cross-width"></div>
    </div>

    {{ production_formset.management_form }}
    {% for production_form in production_formset.forms %}
        <div class="flex-row production_formset_row">

            <div class='col-md-2 long-div'>
                <div>
                    <div class='col-md-6 table-cell '>
                        {{ production_form.crop_number_first_digit }}
                    </div>
                    <div class='col-md-6 table-cell '>
                        {{ production_form.crop_number_second_digit }}
                    </div>
                </div>
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{ production_form.crop }}
            </div>
            <div class='col-md-3 flex-column-1'>
                <div class='row flex-row'>
                    <div class='col-md-4 table-cell'>
                        {{ production_form.production_main_product }}
                    </div>
                    <div class='col-md-2 table-cell long-div flex-column'>
                        {{ production_form.unit_main_production }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ production_form.production_by_product }}
                    </div>
                    <div class='col-md-2 table-cell long-div flex-column'>
                        {{ production_form.unit_by_production }}
                    </div>
                </div>
            </div>

            <div class='col-md-3 flex-column-1'>
                <div class='row flex-row'>
                    <div class='col-md-4 table-cell'>
                        {{ production_form.consumption_main_product }}
                    </div>
                    <div class='col-md-2 table-cell long-div flex-column'>
                        {{ production_form.unit_main_consumption }}
                    </div>
                    <div class='col-md-4 table-cell'>
                        {{ production_form.consumption_by_product }}
                    </div>
                    <div class='col-md-2 table-cell long-div flex-column'>
                        {{ production_form.unit_by_consumption }}
                    </div>
                </div>
            </div>

            <div class='col-md-3 flex-column-1'>
                <div class='row flex-row'>
                    <div class='col-md-4 table-cell flex-column'>
                        {{ production_form.rent_and_wages_main_product }}
                    </div>
                    <div class='col-md-2 table-cell long-div flex-column'>
                        {{ production_form.unit_main_rent_and_wages }}
                    </div>
                    <div class='col-md-4 table-cell flex-column'>
                        {{ production_form.rent_and_wages_by_product }}
                    </div>
                    <div class='col-md-2 table-cell long-div flex-column'>
                        {{ production_form.unit_by_rent_and_wages }}
                    </div>
                </div>
            </div>
            <div class="col-md-1  table-cell flex-column">
                {{ production_form.comments }}
            </div>
            {{ production_form.id.as_hidden }}
        </div>
    {% endfor %}

    <br><br>
    <h4 class="text-center">Sales of crop produce</h4>
    <div class='row flex-row'>
        <div class='col-md-2 table-cell long-div'>
            <label>Crop No.</label>
        </div>
        <div class='col-md-1 table-cell long-div'>
            <label> Sales no. </label>
        </div>
        <div class='col-md-1 table-cell long-div'>
            <label> Commodity sold </label>
        </div>
        <div class='col-md-2 table-cell long-div'>
            <label>Quantity</label>
        </div>
        <div class='col-md-2 table-cell long-div'>
            <label>Unit</label>
        </div>
        <div class='col-md-1 table-cell long-div'>
            <label>month of Disposal</label>
        </div>
        <div class='col-md-1 table-cell long-div'>
            <label>Price</label>
        </div>
        <div class='col-md-1 table-cell long-div'>
            <label>Unit</label>
        </div>
        <div class='col-md-2 table-cell long-div'>
            <label>Where Marketed</label>
        </div>
        <div class='col-md-2 table-cell long-div'>
            <label>Marketing Agency</label>
        </div>
        <div class='col-md-2 table-cell long-div'>
            <label>Was the price fixed before harvest?</label>
        </div>
        <div class='col-md-2 table-cell long-div'>
            <label>Comments</label>
        </div>
    <div class="cross-width"></div>
    </div>

    {{ sales_formset.management_form }}
    {% for sales_form in sales_formset.forms %}
        <div class='row flex-row sales_formset_row'>
            <div class='col-md-2 long-div'>
                <div>
                    <div class='col-md-6 table-cell '>
                        {{ sales_form.crop_number_first_digit }}
                    </div>
                    <div class='col-md-6 table-cell '>
                        {{ sales_form.crop_number_second_digit }}
                    </div>
                </div>
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{ sales_form.sale_number }}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{ sales_form.commodity_sold }}
            </div>
            <div class='col-md-2 table-cell long-div'>

                {{ sales_form.quantity }}
            </div>
            <div class='col-md-2 table-cell long-div'>
                {{ sales_form.unit_of_quantity }}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{ sales_form.month_of_disposal }}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{ sales_form.price }}
            </div>
            <div class='col-md-1 table-cell long-div'>
                {{ sales_form.unit_of_price }}
            </div>
            <div class='col-md-2 table-cell long-div'>
                {{ sales_form.where_marketed }}
            </div>
            <div class='col-md-2 table-cell long-div'>
                {{ sales_form.marketing_agency }}
            </div>
            <div class='col-md-2 table-cell long-div'>
                {{ sales_form.if_price_determined_in_advance }}
            </div>
            <div class='col-md-2 table-cell long-div'>
                {{ sales_form.comments }}
            </div>
        {{ sales_form.id.as_hidden }}
        </div>
    {% endfor %}

    <script type="text/javascript">
        $('.production_formset_row').formset({
            prefix:"{{ production_formset.prefix }}"
        });
        $('.sales_formset_row').formset({
            prefix:"{{ sales_formset.prefix }}"
        });
    </script>

    {% include 'common/comments.html' %}
{% endblock %}
