{% include 'common/header.html' %}
{% include 'common/topnav.html' %}

{% block content %}
    <div>
        <form action="{% url 'household_edit' pk=1 %}" class="content container">{% csrf_token %}
            <h3>Search Household number</h3>
            Household number: <input type="text" name="householdnumber">
            <button type="submit" value="Edit">Edit</button>
        </form>
        or
        <div>
            <h3>Enter New details</h3>
            <a href={% url "household_new" %}>Create</a>
        </div>
    </div>
{% endblock %}
{% include 'common/footer.html' %}
