{% extends "common/header.html" %}

{% block title %}
    {{ household }}
{% endblock %}

{% block content %}
    <h1><a href={% url "household_list" %}>Household</a></h1>
    <h2>{{ household }} | <a href={% url "household_update" household.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "household_delete" household.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ household }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}