{% extends "household_info/household_members_base.html" %}

{% block title %}
    Update {{ household_members }}
{% endblock %}

{% block content %}
<h1><a href={% url "household_members_list" %}>HouseholdMembers</a></h1>
<h2>Update {{ household_members }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "household_members_detail" household_members.pk %}>Cancel</a>
<form style="display:inline;" action={% url "household_members_delete" household_members.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ household_members }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}