{% extends "common/header.html" %}

{% block title %}
    Update {{ household }}
{% endblock %}

{% block content %}
<h1><a href={% url "household_list" %}>Household</a></h1>
<h2>Update {{ household }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "household_detail" household.pk %}>Cancel</a>
<form style="display:inline;" action={% url "household_delete" household.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ household }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}