{% extends "household_info/household_members_base.html" %}

{% block title %}
    HouseholdMemberss
{% endblock %}

{% block content %}
    <h1>HouseholdMemberss</h1>
    <h2><a href={% url "household_members_create" %}>Create new HouseholdMembers</a></h2>
    <ul>
    {% for household_members in household_members_list %}
        <li><a href={% url "household_members_detail" household_members.pk %}>{{ household_members }}</a> | <a href={% url "household_members_update" household_members.pk %}>Update</a> | <form style="display:inline;" action={% url "household_members_delete" household_members.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ household_members }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No HouseholdMemberss yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

